

* {
   font-family: "brandon-grotesque", sans-serif;

}

*::-webkit-scrollbar { 
  display: none;
}

html, body{
	margin: 0;
  height: 5000px;
  background: #5c677a;
  background-size:  cover;
}




#headimg{
text-align: center;
width: 100%;
}

.fullwidth{
  width: 100%;
  height: auto;
  box-shadow: 0 22px 54px 0 rgba(0,0,0,0.50);
}

.headertitle{
  position: absolute;
  color: white;
  top:35%;
  left: 0; right: 0;
  margin: auto;
  font-size: 40px;

}
