
*::-webkit-scrollbar { 
  display: none;
}
* {
   font-family: "brandon-grotesque", sans-serif;

}

html, body{
	margin: 0;
  height: 5000px;
  background: #5c677a;
  background-size:  cover;
}


.text{
  z-index:15;
}

#heading{
 width:100%;
 z-index:5;
}

.fullwidth{
  width: 100%;
  height: auto;
  box-shadow: 0 22px 54px 0 rgba(0,0,0,0.50);
  font-family: "brandon-grotesque",sans-serif;
  z-index:10;
 
}

.fullwidth2{
  width: 100%;
  height:600px;
  position:relative;
  background-color: #E6E6E6;
  margin-top: -30px;
}

.fullwidth3{
  position:relative;
  height:700px;
  width: 100%;
  margin-left:280px;
  background-color: ;
  z-index:5;
 
}

.fullwidth4{
  width:100%;
  height:700px;
   background-color: #E6E6E6;
}

.chelsea{
  font-family: "brandon-grotesque", sans-serif;
  z-index:10;
  margin-top: 30px;
}

h3{
  color:black;
  font-family: "brandon-grotesque", sans-serif;
 
  top: 20px;
  z-index:15;
  text-align: center;

}


.imgrid{
  max-width: 750px;
  color:red;
}


@media screen and (max-width: 520px) {
.info{
    position: fixed;
    top: 400px;
    left: 5%;
    width: 100px;
}

.droughtones{
  position: fixed;
  top: 25px;
  left: 21%;
  width: 260px;
  transition: all .5s cubic-bezier(.25,.46,.45,.94);
}

.droughtones:hover{
   /* top:-100px;*/
    width: 330px;
    cursor:move
}

}
