

* {
   font-family: "brandon-grotesque", sans-serif;

}

*::-webkit-scrollbar { 
  display: none;
}

html, body{
	margin: 0;
  height: 5000px;
  background: #5c677a;
  background-size:  cover;
}


#headimg{

}

.fullwidth{
  width: 100%;
  height: auto;
  box-shadow: 0 22px 54px 0 rgba(0,0,0,0.50);
  font-family: "brandon-grotesque",sans-serif;
  z-index:10;
 
}















@media screen and (max-width: 520px) {
.info{
    position: fixed;
    top: 400px;
    left: 5%;
    width: 100px;
}

.droughtones{
  position: fixed;
  top: 25px;
  left: 21%;
  width: 260px;
  transition: all .5s cubic-bezier(.25,.46,.45,.94);
}

.droughtones:hover{
   /* top:-100px;*/
    width: 330px;
    cursor:move
}

}
