
* {
   font-family: "brandon-grotesque", sans-serif;

}

*::-webkit-scrollbar { 
  display: none;
}

html, body{
	margin: 0;
  height: 700px;
 }
 @-webkit-keyframes blinker {
   from { transform: scale(0.5);  }
   to   { transform: scale(2.0);
		   opacity:0;}
  

}


#heading{
	margin-left: -10px;

}

.almondrain{
	width:100%;
	height:700px;
	background-color: white;
	z-index:10;
	position:absolute;

}


.imgA{
	width:860px;
	height:600px;
	margin-left: 280px;
	z-index:5;
	position:absolute;
}

.imgB{
	width:300px;
	height:300px;
	margin-left: 280px;
	z-index:20;
	position:relative;
}


.yo{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#F5576A;
	z-index:10;
	position:absolute;
	margin-left: 810.5px;
	margin-top: 210px;
}


.blink {
	width:15px;
	height:15px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #F5576A;
	position:absolute;
	z-index:10;
	left:-4px;
	top:-5px;
    animation: blinker 1.22s linear infinite;

}
.yo1{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#F5576A;
	z-index:10;
	position:absolute;
	margin-left: 888px;
	margin-top: 278px;
}

.yo2{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#F5576A;
	z-index:10;
	position:absolute;
	margin-left: 928px;
	margin-top: 422px;
}
.yo3{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#F5576A;
	z-index:10;
	position:absolute;
	margin-left: 802px;
	margin-top: 512px;
}
.yo4{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#F5576A;
	z-index:10;
	position:absolute;
	margin-left: 646px;
	margin-top: 532px;
}
.yo5{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#F5576A;
	z-index:10;
	position:absolute;
	margin-left: 542px;
	margin-top: 415px;
}
.yo6{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#F5576A;
	z-index:10;
	position:absolute;
	margin-left: 512px;
	margin-top: 269px;
}
.yo7{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#F5576A;
	z-index:10;
	position:absolute;
	margin-left: 574px;
	margin-top: 128px;
}

.rain1{
	width:40px;
	height:10px;
	background-color:#3BB5C6;
	z-index:10;
	position:absolute;
	margin-left: 823.5px;
	margin-top: 285px;
	transition:all, 800ms ease;  
	opacity:0.7;
	transform:rotate(-120deg);
	position:fixed;
	transform-origin:0% 0%;
}

.rain1:hover {

	height:61px;
    transition:0.7s;
	}

.rain2{
	width:40px;
	height:10px;
	background-color:#3BB5C6;
	z-index:10;
	position:absolute;
	margin-left: 819.5px;
	margin-top: 349px;
	transition:all, 800ms ease;  
	opacity:0.6;
	transform:rotate(-80deg);
	position:fixed;
	transform-origin:0% 0%;
}

.rain2:hover {

	height:146px;
    transition:0.6s;
	}

.rain3{
	width:40px;
	height:10px;
	background-color:#3BB5C6;
	z-index:10;
	position:absolute;
	margin-left: 773.5px;
	margin-top: 397px;
	transition:all, 800ms ease;  
	opacity:0.6;
	transform:rotate(-40deg);
	position:fixed;
	transform-origin:0% 0%;
}

.rain3:hover {

	height:162px;
    transition:0.6s;
	}

.rain4{
	width:40px;
	height:10px;
	background-color:#3BB5C6;
	z-index:10;
	position:absolute;
	margin-left: 713.5px;
	margin-top: 403px;
	transition:all, 800ms ease;  
	opacity:0.6;
	transform:rotate(0deg);
	position:fixed;
	transform-origin:0% 0%;
}

.rain4:hover {

	height:0px;
    transition:0.6s;
	}



