
* {
   font-family: "brandon-grotesque", sans-serif;

}

*::-webkit-scrollbar { 
  display: none;
}

html, body{
	margin: 0;
  height: 5000px;
 }



.almondrain{
	width:100%;
	height:700px;
	background-color: white;
	z-index:-10;
	position:absolute;
}

.imgA{
	width:860px;
	height:600px;
	margin-left: 280px;
	z-index:-5;
	position:absolute;
}

.yo{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#E25555;
	z-index:10;
	position:absolute;
	margin-left: 810.5px;
	margin-top: 210px;
}

.blink {
	width:15px;
	height:15px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #E25555;
	position:absolute;
	z-index:10;
	left:-4px;
	top:-5px;
    animation: blinker 1.22s linear infinite;

}
.yo1{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#E25555;
	z-index:10;
	position:absolute;
	margin-left: 888px;
	margin-top: 278px;
}

.yo2{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color:#E25555;
	z-index:10;
	position:absolute;
	margin-left: 928px;
	margin-top: 422px;
}

@-webkit-keyframes blinker {
   from { transform: scale(0.5);  }
   to   { transform: scale(2.0);
		   opacity:0;}
  

}



